<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%# userIDをhiddenフィールドに格納 %>
    <%= form.hidden_field :user_id , :value => current_user.id  %>
  </div>

  <div class="field">
    <%= form.label :名前%>
    <%= form.text_field :profile_name %>
  </div>

  <div class="field">
    <%= form.label :プロフィール画像アップロード %>
    <%= form.file_field :profile_image %>
  </div>

  <div class="field">
    <%= form.label :プロフィールカバー画像アップロード %>
    <%= form.file_field :profile_cover_image %>
  </div>


  <div class="field">
    <%= form.label :生年月日 %>
    <%= form.datetime_select :profile_birth %>
  </div>

  <div class="field">
    <%= form.label :入社日 %>
    <%= form.datetime_select :profile_join_date %>
  </div>

  <div class="field">
    <%= form.label :趣味 %>
    <%= form.text_field :profile_hobby %>
  </div>

  <div class="field">
    <%= form.label :紹介文 %>
    <%= form.text_area :profile_text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
