<div class="container">
	<div class="my-post-area">
	<%= form_for @post , url:'/posts/create' do |f| %>

		<div class="post-circle-avatar my-post-circle-avatar">
			<%= link_to "/profiles/#{@p_user.id}" do %>
				<%= image_tag @p_user.profile_image.thumb150.url %>
			<% end %>
		</div><!--/.post-circle-avatar-->

		<div class="my-post-left-area">
			<%= f.hidden_field :profile_id , :value => current_user.id %>
			<%= f.text_area :post_text , class: "my-post-text-area" , id: "ta" , placeholder: "投稿の入力" %>

			<div id="post-img-view-area">
				<div class="view_box view_box_input">
					<label for="file_upload" class="my-post-file-label">
					<i class="fas fa-images"></i> 画像
					<%= f.file_field :post_image , accept: "image/*" , multiple: true, id: "file_upload", class: 'file my-post-file-input' %>
					</label>
				</div><!--/.view_box-->
			</div><!--/#post-img-view-area-->

		</div><!--/.my-post-left-area-->

		<div class="my-post-right-area">
			<%= f.submit :"投稿" , :class=>"btn btn-primary my-post-add-btn" %>
		</div><!--/.my-post-left-area-->

	<% end %>
	</div><!--/.my-post-area-->
</div><!--/.container-->


<div id="like">

<div class="container">
	<% @posts.each do |post| %>
	<div class="post_block">
		<div class="post-avatar-area">
			<%# model posts.rbにprofileメソッドを作成 %>
			<div class="post-circle-avatar">
				<%= link_to "/profiles/#{post.profile.id}" do %>
					<%= image_tag post.profile.profile_image.thumb150.url %>
				<% end %>
			</div><!--/.post-circle-avatar-->

			<div class="post-avatar-right">
				<span class="post-a-name">
					<%= link_to "/profiles/#{post.profile.id}" do %>
						<%= post.profile.profile_name  %>
					<% end %>
				</span>

				<span class="post-a-date">
				<%= post.created_at.strftime("%Y年%m月%d日 %H:%M") %>
				</span>
			</div><!--/.avatar-name-->

			<% if post.profile_id == current_user.id %>
				<%= link_to "/posts/#{post.id}/edit/" do %>
					編集
				<% end %>
				<%= link_to '削除', "/posts/#{post.id}/destroy", method: :destroy, data: { confirm: '削除しますか？' } %>
			<% end %>
		</div><!--/.post-avatar-area-->

		<div class="post-block-text">
			<%= simple_format(post.post_text) %>
		</div><!--post-block-text-->

		<% if ! post.post_image.nil? %>
			<div class="post_image_group">
				<% post.post_image.each do |images| %>
					<%= link_to images.url do %>
						<%= image_tag images.url, :class => "post_image" %>
					<% end %>
				<% end %>
			</div><!--/.post_image_group-->
		<% end %>

		<!--いいねボタン-->
		<like-button :profile-id="<%= @p_user.id %>" :post-id="<%= post.id %>"></like-button>
		<!--コメント-->
		<post-comment :profile-id="<%= @p_user.id %>" :post-id="<%= post.id %>"></post-comment>
		
		
	</div><!--/.post_block-->

	<% end %>

</div><!--/.container-->
</div><!--/#like-->


<%# post.jsを読み込み %>
<%= javascript_pack_tag 'post' %>
<%# .vueファイルのstyleを記述する %>
<%= stylesheet_pack_tag 'post' %>



