<div class="area-center02">

<%# Vue Component %>
<div id="company-objectives">




<div class="container">


<div class="content-header">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-dark">OKR 会社目標<span class="okr-title-desc">会社目標の達成率は、チーム目標達成率の平均です。</span></h1>
		</div>
	</div><!--/.row-->
</div><!--/.content-header-->



<div class="co-block">
<company-objective-detail coid="<%= @company_objective.id %>" coname="<%= @company_objective.company_objective_name %>" codate="<%= @company_objective.company_objective_complete_date %>" coarchiverate="<%= @company_objective.company_objective_achieve_rate %>" codescription="<%= @company_objective.company_objective_discription %>"></company-objective-detail>
</div><!--/.co-block-->











</div><!--/.container-->



</div><!--/#company-objectives-->
</div><!--/.area-center02-->


<%# post.jsを読み込み %>
<%= javascript_pack_tag 'company_objective' %>
<%# .vueファイルのstyleを記述する %>
<%= stylesheet_pack_tag 'company_objective' %>
