<!DOCTYPE html>
<html>
  <head>
    <title>EngageApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/locale/ja.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>

  </head>

  <body>



  <div id="app">
      <App/>
    </div>
    <%= javascript_pack_tag 'application' %>




    <header id="header">
      <nav>
        <ul class="header-list">
			<li><div class="main_logo"><%= link_to 'EngageApp', '/' %></div></li>

          <% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
            <!-- ユーザーがログインしていた時の処理 -->
            <li><%= link_to 'ホーム', '#' %></li>
            <li><%= link_to 'お知らせ', '#' %></li>
            <li><%= link_to 'ヘルプ', '#' %></li>
            <li><%= link_to '検索', '#' %></li>
            <li>ID： <%= current_user.id %></li>
            <li>メールアドレス： <%= current_user.email %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %> </li><!-- ログアウトをする -->
          <% else %>
            <!-- ユーザーがログインしていなかった時の処理 -->
            <li> 現在ログインしていません</li>
            <li><%= link_to "ログイン", new_user_session_path, class: 'post' %> </li><!-- ログイン画面に移行する -->
            <li><%= link_to "新規登録", new_user_registration_path, class: 'post' %></li> <!-- 新規登録画面に移行する -->

          <% end %>
        </ul>
      </nav>
    </header>


	<% if user_signed_in? %>

        <%= render 'parts/profile' %>

    

    <div class="content">

		<!--flashメッセージ-->
		<% if flash[:notice] %>
			<div id="notice" style="margin:15px 0 0 0;"class="alert alert-success"><%= flash[:notice] %></div>
		<% end %>

          <%= yield %>
  
      

    </div><!--/.content -->


	<% else %>

      <%= yield %>

      <% end %>

  </body>
</html>
